{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts Start -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts Ends -->
    <!-- Links -->
    <link rel="stylesheet" href="{% static 'css/questions.css' %}" />
    <title>Quiz Page</title>
  </head>
  <body>
    <div class="nav">
      <div style="position: fixed; left: 45px">App Name</div>
      <div style="position: fixed; right: 45px">Login</div>
    </div>

    <div class="page">
      <!-- SIDEBAR  STARTS -->
      <div class="sidebar" style="transform: translateY(2rem); margin: 2rem">
        <h1 style="text-align: center; padding: 2rem">
          <span style="border-bottom: 2px solid goldenrod">Navigation</span>
        </h1>
        <div
          class="toc"
          style="padding-right: 6rem; padding-left: 6rem; padding-top: 2rem"
        >
          <div class="number">
            <a href="{% url 'quiz_questions' pk1=pk1 pk2=pk2 pk3=1%}"><span
              style="background-color: pink; border-radius: 12px; padding: 1rem"
              >1</span
            ></a>
          </div>
          
          <div class="number">
            <a href="{% url 'quiz_questions' pk1=pk1 pk2=pk2 pk3=2%}">
            <span
              style="background-color: pink; border-radius: 12px; padding: 1rem"
              >2</span
            >
          </a>
          </div>
          <div class="number">
            <a href="{% url 'quiz_questions' pk1=pk1 pk2=pk2 pk3=3%}">
            <span
              style="background-color: pink; border-radius: 12px; padding: 1rem"
              >3</span
            >
          </a>
          </div>
          
        </div>
        <div class="submit-section">
          <a href="{% url 'result' pk1=pk1 pk2=pk2 %}"><button
            style="
              background-color: black;
              color: white;
              border: none;
              margin: 0;
              padding: 0.7rem;
              border-radius: 6px;
            "
          >
            Submit Test
          </button>
          </a>
        </div>
      </div>
      <!-- SIDEBAR  ENDS -->
      <div class="content">
        <div class="question" style="transform: translateY(2rem)">
          <div class="ques">
            <h1>{{ques.ques_text}}</h1>
          </div>
          <div class="upload-sec">
            <form action="{% url 'quiz_questions' pk1=pk1 pk2=pk2 pk3=pk3 %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" name="myfile">
              <button type="submit">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>